<h1>Players</h1>

<% @players.each do |player| %>
	<ul>
		<li>
			<%= link_to player.name, @player %></br>
		</li>
			<p class='under_player_options'> <%= link_to 'Remove Player', player, method: :delete, data: { confirm: 'Are you sure?' } %> ||| <%= link_to 'Edit Player', edit_player_path(player) %> </p>
	</ul>
<% end %>

<a href="/players/new"><button>Create a New Player</button></a>
