<h1>Players</h1>

<% @players.each do |player| %>
	<ul>
		<li>
			<%= player.name %></br>
		</li>
			<p class='under_player_options'> <%= link_to 'Remove Player', player, method: :delete, data: { confirm: 'Are you sure?' } %> | Edit Player | </p>

	</ul>
<% end %>

<a href="/players/new"><button>Create a New Player</button></a>
