<h1>Players</h1>

<% @players.each do |player| %>
	<ul>
		<li>
			<%= player.name %></br>
		</li>
			<p class='under_player_options'> Remove Player | Edit Player | </p>

	</ul>
<% end %>

<a href="/players/new"><button>Create a New Player</button></a>
