/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require jscrollpane
 */

  #new_draft_landing h1 {
  	font-size: 60px;
  	text-align: center;
  }

  #new_draft_settings {
  	margin-top: 75px
  }

  #new_draft {
  	center
  }

  .player_pic {
  	height: 200px;
  	width: 229px;
  }

	.under_player_options {
		font-size: 12px;
		margin-top: 0px;
	}

	#recommendations {
		height: 400px;
	}

	#rec_title {
		text-align: center;
		text-decoration: underline;
	}

	.master_list {
		outline: 1px solid black;
		height: 650px;
	}

	.top_header {
		outline: 2px solid black;
		height: 75px;
	}

	.roster {
		outline: 2px solid black;
		height: 300px;
	}

	.bottom_footer {
		outline: 2px solid black;
		height: 30px;
	}

	.position_tracking {
		height: 250px;

	}


	.under_roster {
		height: 350px;
		text-align: center;
		outline: 2px solid black;
	}

	.under_roster p {
		font-weight: bold;
		text-decoration: underline;
	}

	.remaining {
		outline: 1px solid black;
		height: 250px;
	}

	.top_choices {
		text-align: center;
		margin: 0;
		padding: 0;
	}

	#player_list {
		font-size: 20px;
	}

	#player_list li a:hover {
		color: black;
	}

	#new_draft_div {
		text-align: center;
		margin-top: 250px;
	}

	.btn-group-qb {
		margin-left: 135px
	}
	.btn-group-hb {
		margin-left: 135px
	}
	.btn-group-wr {
		margin-left: 135px
	}
	.remaining h5 {
		text-decoration: underline;
	}

#scrollbar_container {
    position:relative;
    width:500px;
}

#scrollbar_track {
    position:absolute;
    top:0;
    rightright:0;
    height:100%;
    width:10px;
    background-color:transparent;
    cursor:move;
}

#scrollbar_handle {
    width:10px;
    background-color:#5c92e7;
    cursor:move;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    opacity:0.9;
    -moz-opacity:0.9;
}

#scrollbar_content {
    overflow:hidden;
    width:485px;
    height:250px;
}





/*scrollpane custom CSS*/
.jspVerticalBar {
    width: 8px;
    background: transparent;
    right:10px;
}

.jspHorizontalBar {
    bottom: 5px;
    width: 100%;
    height: 8px;
    background: transparent;
}
.jspTrack {
    background: transparent;
}

.jspDrag {
    background: url(images/transparent-black.png) repeat;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}

.jspCorner {
    display:none
}

.content-area {
	width: 165px;
	height: 300px;
	overflow: auto;
}

.content-area p {
	font-weight: normal;
	text-decoration: none;
}

.order-list {
	text-align: center;
}

td {
	float: left;
	margin-left: 10px
}

