/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

  #new_draft_landing h1 {
  	font-size: 60px;
  	text-align: center;
  }

  #new_draft_settings {
  	margin-top: 75px
  }

  #new_draft {
  	center
  }

  .player_pic {
  	height: 200px;
		outline: 2px solid black;
  }

	.under_player_options {
		font-size: 12px;
		margin-top: 0px;
	}

	.col-md-7 {
		outline: 2px solid black;
	}

	#recommendations {

		height: 400px;
	}

	.master_list {
		outline: 1px solid black;
		height: 650px;
	}

	.top_header {
		outline: 2px solid black;
		height: 75px;
	}

	.roster {
		outline: 2px solid black;
		height: 300px;
	}

	.bottom_footer {
		outline: 2px solid black;
		height: 30px;
		display: none;
	}

	.position_tracking {
		height: 250px;

	}

	.under_roster {
		height: 350px;
		outline: 2px solid black;
	}

	.remaining {
		outline: 1px solid black;
		height: 250px;
	}

	.top_choices {
		text-align: center;
		margin: 0;
		padding: 0;
	}

	#player_list {
		font-size: 20px;
	}

	#player_list li a:hover {
		color: black;
	}

	#new_draft_div {
		text-align: center;
		margin-top: 250px;
	}

	.btn-group-qb {
		margin-left: 135px
	}
	.btn-group-hb {
		margin-left: 135px
	}
	.btn-group-wr {
		margin-left: 135px
	}
	.remaining h5 {
		text-decoration: underline;
	}

/*.draft-center {
	display: none;
}
*/

