/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

.under_player_options {
	font-size: 12px;
	margin-top: 0px;
}

.col-md-7 {
	outline: 2px solid black;
}

.recommendations {
	outline: 2px solid black;
	height: 300px;
}

.master_list {
	outline: 2px solid black;
	height: 650px;
}

.top_header {
	outline: 2px solid black;
	height: 75px;
}

.roster {
	outline: 2px solid black;
	height: 300px;
}

.bottom_footer {
	outline: 2px solid black;
	height: 30px;
}

.position_tracking {
	height: 350px;
	outline: 2px solid black;
}

.under_roster {
	height: 350px;
	outline: 2px solid black;
}

.remaining {
	outline: 1px solid black;
	height: 350px;
}

.top_choices {
	text-align: center;
	margin: 0;
	padding: 0;
}
