
    <div class='row top_header'>
      <div class='col-md-12'>
	        <p> This is where the header will be.</p>
	        <p> It will contian links to change league settings among other things.</p>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-2 master_list'>
      	<% @player.each do |player| %>
        <ul>
          <li><%= player.name %></li>
        </ul>
        <%end%>
      </div>
      <div class='col-md-7'>
        <div class='recommendations'>
          <p>Here is where will put player recommendations.</p>
          <p>Each player will come in as an object with a picture.  A maximum of four players will be in this box.</p>
        </div>

        <div class='position_tracking'>
          <div class='row'>
            <div class='col-md-2 remaining'>
              <p>QBs:</p>
            </div>
            <div class='col-md-2 remaining'>
              <p>HBs:</p>
            </div>
            <div class='col-md-2 remaining'>
              <p>WRs:</p>
            </div>
            <div class='col-md-2 remaining'>
              <p>TEs:</p>
            </div>
            <div class='col-md-2 remaining'>
              <p>DEF:</p>
            </div>
            <div class='col-md-2 remaining'>
              <p>Ks:</p>
            </div>
          </div>
        </div>

      </div>
      <div class='col-md-3'>
        <div class='roster'>
          <p>Drafted players will appear here.  A team rundown at each position will be available. </p>
          <ul>
            <li> QB:  </li>
            <li> HB:  </li>
            <li> WR:  </li>
            <li> TE:  </li>
            <li> DEF: </li>
            <li> K: </li>
            <li> FLEX: </li>
            <li> BENCH: </li>
          </ul>
        </div>
        <div class='under_roster'>
          <p> This area does not have a name yet because I do not know what I will put here!</p>
        </div>
      </div>
    </div>
    <div class='row footer'>
      <div class='col-md-12 bottom_footer'>
        <p> I don't know what will go at the bottom of the page.</p>
      </div>
    </div>



