<h1> DRAFT TIME </h1>

<div id='pre_draft_options'>
	<h5> Variables to add: </h5>
	<ul>
		<li>QBs:</li>
		<li>HBs:</li>
		<li>WRs:</li>
		<li>TEs:</li>
		<li>FLEX:</li>
		<li>DEF:</li>
		<li>K:</li>
		<li>PPR</li>
		<li>PPPTD</li>
		<li>Number of teams</li>
		<li>YOUR draft position</li>
	</ul>
</div>


<table id='available_players'>
	<p> This is where a table of players will go.</p>
	<p> Users will have the ability to:</p>
	<ul>
		<li> Add a player to their team</li>
		<li> Add a player to any team in the league to keep up with the draft.</li>
		<li> SORT the best available player based on a large number of experts.</li>
		<li> SORT the players by position or TEAM </li>
		<li> SORT the playters by bye week </li>
		<li> SEE their own team as it is drafted </li>
	</ul>
</table>

