<div id='new_draft_landing'>
	<h1>Enter Your Settings!</h1>
</div>
	<div id='new_draft_settings'>
	  <div class='col-md-12'>
	  	<div class='row'>
	  		<div class='col-md-4'>

			      <p class='top_choices'>Starting QBs:</p>
		<!-- 		      <select class='starter_settings'>
				        <option value="QB-1">1</option>
				        <option value="QB-2">2</option>
				      </select> -->

			      <p class='top_choices'>Starting HBs:</p>
		<!-- 		      <select class='starter_settings'>
				        <option value="HB-1">1</option>
				        <option value="HB-2">2</option>
				      </select> -->

			      <p class='top_choices'>Starting WRs:</p>
		<!-- 		      <select class='starter_settings'>
				        <option value="WR-1">1</option>
				        <option value="WR-2">2</option>
				      </select> -->

					</div>


		  		<div class='col-md-4'>

		  			<p class='top_choices'> Number of Teams </p>
		  			<p class='top_choices'> Draft Number </p>
		  			<p class='top_choices'> Logic Type: </p>

		  		</div>


		  		<div class='col-md-4'>
		  			<p class='top_choices'> PPR </p>
		  			<p class='top_choices'> PPC </p>
		  			<p class='top_choices'> PPTD </p>
		  		</div>
	  	</div>
	  </div>
	</div>


<div id='new_draft_div'>
		<%= link_to "START YOUR DRAFT!", new_draft_path, id: "new_draft", :class => 'btn btn-success', remote: true %>
	</div>




