<h1> DRAFT </h1>
<p> <%= @current_team.team_name %> is drafting  </p>

<h3> Best Available </h3>
<ul>


<% @best_available.each do |player| %>
  <li> <%= player.name %> </li>

  <%= link_to 'draft', new_pick_path, class: 'new_pick', remote: true %>

<% end %>
</ul>


